<style>

</style>

<MudText style="font-size: 19px;">@Name | <span class="bourtonLineMedium" style="font-size: 16px;">@Description</span></MudText>

@code {
    [Parameter] public string? Name { get; set; }
    [Parameter] public string? Description { get; set; }
}