/* _content/EsquinaCanela/Components/Pages/Menu.razor.rz.scp.css */
img[b-dmlmnbfb2s] {
    margin: 0 auto;
    width: min(100vw, 1000px);
}
/* _content/EsquinaCanela/Components/Utils/Banner.razor.rz.scp.css */
.content[b-bmzaotim4p] {
    color: white;
    max-width: 320px; 
    margin-left: 6vw;
    margin-bottom: 40px;
}

.title[b-bmzaotim4p] {
    font-size: 5em;
}

.text[b-bmzaotim4p] {
    font-size: 1em;
    max-width: min(320px, 70vw);
}

@media only screen and (min-width: 426px) {
    div[b-bmzaotim4p] {
        margin-left: 80px;
        margin-bottom: 60px;
    }
  
    .title[b-bmzaotim4p] {
        font-size: 7em;
    }
    
    .text[b-bmzaotim4p] {
        font-size: 1.5em;
    }
}
/* _content/EsquinaCanela/Components/Utils/Footer.razor.rz.scp.css */
*[b-dxl0w8qc7c] {
    color: white;
}
/* _content/EsquinaCanela/Components/Utils/Gallery.razor.rz.scp.css */
.container[b-8a19x14zne] {
  display: flex;
  flex-wrap: wrap;
}

.item[b-8a19x14zne] {
  width: 300px;
  height: 450px;
  background: red;
  flex-grow: 1;

  background-size: cover; background-position: top; background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  .item[b-8a19x14zne] {
    border: 1px;
    border-color: red;
    width: 200px;
  }
}
/* _content/EsquinaCanela/Components/Utils/GalleryItem.razor.rz.scp.css */
img[b-4vrmhc1eho] {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: 0.3s ease;
}

.text[b-4vrmhc1eho] {
  color: white;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

  opacity: 0;
  transition: 0.5s ease;
}

.title[b-4vrmhc1eho] {
  padding-bottom: 10px;
  font-size: 4em;
}

.item[b-4vrmhc1eho] {
  width: 25%;
  height: 450px;
  position: relative;
  flex-grow: 1;

  text-align: center;
  align-content: center;
  
  background-color:#000;
  /* background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  background-image: url('images/oreo-cake.jpeg'); */
}

.item:hover img[b-4vrmhc1eho] {
  opacity: 0.3;
}

.item:hover .text[b-4vrmhc1eho]{
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .item[b-4vrmhc1eho] {
    width: 200px;
  }
}
/* _content/EsquinaCanela/Components/Utils/ImageGradient.razor.rz.scp.css */
.image[b-rnbe3ed3fk] {
    position: relative;
    width: 100%;
}

.bottom-left[b-rnbe3ed3fk] {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.centered[b-rnbe3ed3fk] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}
/* _content/EsquinaCanela/Components/Utils/MakeYourOrder.razor.rz.scp.css */
.line[b-qynhan4031] {
  overflow: hidden;
  text-align: center;
}

.line[b-qynhan4031]::before,
.line[b-qynhan4031]::after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.line[b-qynhan4031]::before {
  right: 0.5em;
  margin-left: -50%;
}

.line[b-qynhan4031]::after {
  left: 0.5em;
  margin-right: -50%;
}
/* _content/EsquinaCanela/Components/Utils/Recommended.razor.rz.scp.css */
.container[b-ody2pd6t4v] {
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  margin: 0 auto; 
  width: 90vw;
  border-radius: 20px;
}

.flex-item-left[b-ody2pd6t4v] {
  flex: 40%;
}

img[b-ody2pd6t4v] {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
}

.flex-item-right[b-ody2pd6t4v] {
  background-color: #262626;
  padding: 15px;
  flex: 60%;
  border-radius: 0px 20px 20px 0px;
}

.title[b-ody2pd6t4v] {
  font-size: 2.5em;
  position: relative;
  text-align: start;
}

.title[b-ody2pd6t4v]::after {
  content: "";
  width: 100%;
  height: 1px;
  
  background: #4aa6b1;
  
  position: absolute;
  bottom: -2px;
  left: 0;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 767px) {
  .flex-item-right[b-ody2pd6t4v], .flex-item-left[b-ody2pd6t4v] {
    flex: 100%;
  }

  .flex-item-left[b-ody2pd6t4v] {
    height: 200px;
  }

  img[b-ody2pd6t4v] {
    border-radius: 20px 20px 0px 0px;
  }

  .flex-item-right[b-ody2pd6t4v] {
    border-radius: 0px 0px 20px 20px;
  }

  .title[b-ody2pd6t4v] {
    font-size: 72px;
  }
}
