div[b-bmzaotim4p] {
    color: white;
    max-width: 320px; 
    margin-left: 10%;
    margin-bottom: 30px;
}

.title[b-bmzaotim4p] {
    font-size: 5em;
}

.text[b-bmzaotim4p] {
    font-size: 1em;
    max-width: min(320px, 70vw);
}

@media only screen and (min-width: 426px) {
    div[b-bmzaotim4p] {
        margin-left: 80px;
        margin-bottom: 60px;
    }
  
    .title[b-bmzaotim4p] {
        font-size: 7em;
    }
    
    .text[b-bmzaotim4p] {
        font-size: 1.5em;
    }
}