img[b-4vrmhc1eho] {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: 0.3s ease;
}

.text[b-4vrmhc1eho] {
  color: white;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

  opacity: 0;
  transition: 0.5s ease;
}

.title[b-4vrmhc1eho] {
  padding-bottom: 10px;
  font-size: 4em;
}

.item[b-4vrmhc1eho] {
  width: 25%;
  height: 450px;
  position: relative;
  flex-grow: 1;

  text-align: center;
  align-content: center;
  
  background-color:#000;
  /* background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  background-image: url('images/oreo-cake.jpeg'); */
}

.item:hover img[b-4vrmhc1eho] {
  opacity: 0.3;
}

.item:hover .text[b-4vrmhc1eho]{
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .item[b-4vrmhc1eho] {
    width: 200px;
  }
}