<ImageWithText>
    <BottomLeft>
        <div class="retroSignature" style="font-size: 100px; margin-bottom: -15px;">
            Nosotros
        </div>
        <span style="font-size: 20px;">
            Somos un local familiar.<br />
            Amantes de la pastelería<br />
            y llevamos mas de 10 años<br />
            en el rubro.
        </span> 
    </BottomLeft>
</ImageWithText>