<style>
.imagen-con-gradiente-2 {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right, black, #0007), url('images/footer.jpeg');
    background-size: cover;
    background-position: center;
    object-position: bottom;
}

.div {
    width: 100%;
    height: 400px;
    background-color: #262626;
    background: linear-gradient(to top right, black, #0007), url('images/footer.jpeg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}
</style>

<div style="background-color: #262626; color: white; margin-top: 64px; margin-left: -128px; margin-right: -128px; height: 400px; font-size: 25px !important;" class="bourtonLineMedium">
    <div class="div">
        <div style="text-align: center; margin: auto; height: 100%;; color: white; display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <MudStack Row>
                <a href="https://www.instagram.com/esquina.canela" target="_blank">
                    <img src="images/instagram-icon.svg" style="width: 50px;">
                </a>
                <a href="https://www.facebook.com/esquinacanela" target="_blank">
                    <img src="images/facebook-icon.svg" style="width: 50px;">
                </a>
            </MudStack>
            <MudElement HtmlTag="a" style="display: block; color: white;" class="bourtonLineMedium" href="mailto:info@esquinacanela.com.ar">info@esquinacanela.com.ar</MudElement>
            <MudStack Row>
                <MudElement HtmlTag="a" style="display: block; color: white;" class="bourtonLineMedium" href="tel:+5447463070">(011) 4746-3070</MudElement>
                <span> | </span>
                <MudElement HtmlTag="a" style="display: block; color: white;" class="bourtonLineMedium" href="tel:+5491127039300">+5491127039300</MudElement>
            </MudStack>
            <div class="bourtonLineMedium">
                <MudElement HtmlTag="a" style="display: block; color: white;" class="bourtonLineMedium" href="http://maps.google.com/?q=esquina canela" target="blank">
                    <MudIcon Style="color: white;" Icon="@Icons.Material.Filled.LocationOn" Size="Size.Small" />
                    Av. del Libertador 2701, Victoria
                </MudElement>
            </div>
        </div>
    </div>
</div>
