<ImageGradient Src="home.jpg" Height="90vh" BottomLeft>
    <div class="content">
        <p class="retroSignature title">Nosotros</p>
        <p class="text">Somos un local familiar, amantes de la pastelería y llevamos mas de 10 años en el rubro.</p>
    </div>
</ImageGradient>

@code {

}
