<footer class="bourtonLineMedium" style="color: white;">
    <ImageGradient Src="images/footer.jpeg" Height="400px" Centered GradientEnd="#0007">
            <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center">
                <div>
                    <a href="https://www.instagram.com/esquina.canela" target="_blank">
                    <img src="images/instagram-icon.svg" style="width: 60px;">
                    </a>
                    <a href="https://www.facebook.com/esquinacanela" target="_blank">
                        <img src="images/facebook-icon.svg" style="width: 60px;">
                    </a>
                </div>
                <a href="mailto:info@esquinacanela.com.ar">info@esquinacanela.com.ar</a>
                <span>
                    <a href="tel:+5447463070">(011) 4746-3070</a> | <a href="https://wa.me/1127039300" target="_blank">+5491127039300</a>
                </span>
                <a href="http://maps.google.com/?q=esquina canela" target="_blank">
                    <MudIcon Style="color: white; margin-bottom: -5px;" Icon="@Icons.Material.Filled.LocationOn" Size="Size.Small" />
                    Av. del Libertador 2701, Victoria
                </a>
                <hr style="width: 100%; max-width: 300px; border-width: 0.7px; opacity: 0.2;">
                <div style="text-align: center;">
                    <span>Horarios</span><br>
                    Lunes a Viernes | 8:30 a 19:30 hs<br>
                    Sábados | 8:30 a 20 hs<br>
                    Domingos | 8:30 a 13:30 hs<br>
                </div>
            </MudStack>
    </ImageGradient>
</footer>
