<div class="container">
  @MainItems
  
  @if (_seeMore) {
    @MoreItems
  }
</div>

<RoundButton OnClick="ToggleSeeMore" Margin="5vh auto">
  @(_seeMore ? "Ver menos" : "Ver más")
</RoundButton>

@code {
  [Parameter]public RenderFragment? MainItems { get; set; }
  [Parameter]public RenderFragment? MoreItems { get; set; }
  
  private bool _seeMore;

  private void ToggleSeeMore() {
    _seeMore = !_seeMore;
  }
}