  <div class="container">
    @MainItems
    
    @if (_seeMore) {
      @MoreItems
    }
  </div>

<div style="width: 100%; text-align: center; margin: 15px auto;">
  <MudButton Color="Color.Primary" Variant="Variant.Filled" style="border-radius: 20px; min-width: min(250px, 100vw);" OnClick="ToggleSeeMore">
    @(_seeMore ? "Ver menos" : "Ver más")
  </MudButton>
</div>

@code {
  [Parameter]public RenderFragment MainItems { get; set; }
  [Parameter]public RenderFragment MoreItems { get; set; }
  
  private bool _seeMore;

  private void ToggleSeeMore() {
    _seeMore = !_seeMore;
  }
}