<div class="container">
  @MainItems
  
  @if (_seeMore) {
    @MoreItems
  }
</div>

<MudButton 
        style="border-radius: 20px; padding-inline: 20px; margin: 10px auto;" 
        EndIcon="@(_seeMore ? Icons.Material.Filled.ArrowDropUp : Icons.Material.Filled.ArrowDropDown)"
        OnClick="ToggleSeeMore">
    @(_seeMore ? "Ver menos" : "Ver más")
</MudButton>

@code {
  [Parameter] public RenderFragment? MainItems { get; set; }
  [Parameter] public RenderFragment? MoreItems { get; set; }
  
  private bool _seeMore;

  private void ToggleSeeMore() {
    _seeMore = !_seeMore;
  }
}