<MudButton 
        style="border-radius: 20px; background-color: #00b66c;"
        href="https://wa.me/1127039300"
        Target="_blank"
        StartIcon="@Icons.Custom.Brands.WhatsApp"
        Variant="Variant.Filled"
        Color="Color.Primary">
    Escribinos por whatsApp
</MudButton>

<div class="line" style="margin: 10px auto; width: min(500px, 90%); opacity: 0.2;">o</div>

<MudButton 
        style="border-radius: 20px; padding-inline: 10px;"
        href="tel:+5447463070"
        StartIcon="@Icons.Material.Filled.Phone">
    Llamanos al 4746-3070
</MudButton>

@* <MudText><MudIcon Icon="@Icons.Material.Filled.Phone"/>Llamanos al 4746-3070</MudText> *@

@code {

}
