<div class="container">
  
  <div class="flex-item-left">
    <img src="images/inside.jpg"/>
  </div>
  
  <div class="flex-item-right">
    <MudStack Justify="Justify.SpaceEvenly" style="height: 100%;">
      <div class="title retroSignature">Recomendados</div>
      @ChildContent
      <MudButton 
              style="border-radius: 20px; width: min(250px, 100%); margin: 15px auto;"
              Href="/menu"
              Color="Color.Primary" 
              Variant="Variant.Filled" >
          Ver menú completo
      </MudButton>
    </MudStack>
  </div>
</div>

@code {
  [Parameter] public RenderFragment? ChildContent { get; set; }
}