.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  margin: 50px auto; 
  width: 90vw;
  border-radius: 20px;
}

.flex-item-left {
  background-color: #f1f1f1;
  flex: 40%;
}

.flex-item-right {
  background-color: #262626;
  padding: 25px;
  flex: 60%;
}

.title {
  font-size: 90px;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }

  .title {
    font-size: 70px;
  }
}