@font-face {  
    font-family: BourtonBaseDrop;
    src: url('../fonts/Bourton/BourtonBaseDrop.ttf') format("truetype");
}

@font-face {  
    font-family: BourtonLineMedium;
    src: url('../fonts/Bourton/BourtonLineMedium.ttf') format("truetype");
}

@font-face {  
    font-family: RetroSignature;
    src: url('../fonts/RetroSignature/RetroSignature.otf') format("opentype");
}

.bourtonBaseDrop {
    font-family: BourtonBase;
}

.bourtonLineMedium {
    font-family: BourtonLineMedium;
}

.retroSignature {
    font-family: RetroSignature;
    line-height: 1;
    /* font-size: xxx-large; */
    /* margin-bottom: -15px; */
}

.fs-5em {
    font-size: 5em;
}

@media only screen and (min-width: 1024px) {   
    html {
        /* font-size: 20px; */
    }
}