@page "/"

<style>
    section {
        margin-top: 10vh;
        text-align: center;
    }
</style>

<PageTitle>Esquina Canela</PageTitle>

<div style="margin-top: -64px;">
    <Banner />
</div>

<section id="menu">
    @* <MudText Class="retr
    oSignature fs-5em" style="margin: 5vh auto;">Menú</MudText> *@
    
    <Recommended>
        <RecommendedItem Name="Tokio" Description="Verduras grilladas, teriyaki semillas - Opción brie"/>
        <RecommendedItem Name="Mar Griego" Description="Atún, queso crema, olivas ytomate"/>
        <RecommendedItem Name="Ternerita" Description="Carne braseada y fondo"/>
        <RecommendedItem Name="Tarta" Description="Ratatouille"/>
        <RecommendedItem Name="Tarta" Description="Zapallitos"/>
    </Recommended>
</section>

<section id="delights">
    <MudText Class="retroSignature fs-5em" style="margin: 5vh auto;">Conocé nuestras delicias</MudText>

    <Gallery>
        <MainItems>
            <GalleryItem Src="images/cheese-cake.jpeg" Title="Cheese cake" Description="Cremosa y suave, con base de galleta" />
            <GalleryItem Src="images/oreo-cake.jpeg" Title="Torta Oreo" Description="Oreos, crema, dulce de leche" />
            <GalleryItem Src="images/rogel-cake.jpeg" Title="Rogel" Description="Capas hojaldradas entre dulce de leche" />
            <GalleryItem Src="images/marquise-cake.jpg" Title="Marquise" Description="Una base de brownie con abundante merenge y ddl" />
        </MainItems>
        <MoreItems>
            <GalleryItem Src="images/carrot-cake.png" Title="Carrot Cake" Description="Torta de zanahoria y nueces" />
            <GalleryItem Src="images/ddl-cake.png" Title="Dulce de leche" Description="Mucho dulce de leche" />
            <GalleryItem Src="images/lemon-cake.jpeg" Title="Tarta de lima" Description="Oreos, crema, dulce de leche" />
            <GalleryItem Src="images/lemonslice-cake.jpeg" Title="Lemon pie" Description="Dulce y ácido, con relleno de limón y merengue." />
            <GalleryItem Src="images/ricota.png" Title="Ricotta" Description="Oreos, crema, dulce de leche" />
            <GalleryItem Src="images/roll.png" Title="Rolls" Description="Canela, manzana o frutos del bosque" />
            <GalleryItem Src="images/scon-jyq.png" Title="Scon" Description="Oreos, crema, dulce de leche" />
            <GalleryItem Src="images/tartas.png" Title="Tartas" Description="Oreos, crema, dulce de leche" />
            <GalleryItem Src="images/cookies.png" Title="Masitas" Description="Oreos, crema, dulce de leche" />
        </MoreItems>
    </Gallery>
</section>

<section id="order">
    <MudText Class="retroSignature fs-5em" style="margin: 5vh auto;">Hacenos tu pedido</MudText>
    <MakeYourOrder />
</section>

<section id="footer">
    <Footer />
</section>