@page "/"

<PageTitle>Esquina Canela</PageTitle>

@* <div style="width: 100%; height: 100vh; background-color: #AAA;"></div> *@

@* Banner: home image with text *@
<ImageGradient Src="home.jpg" Height="90vh" BottomLeft>
    <div style="color: white; max-width: 320px; margin: 30px 60px;">
        <div style="text-overflow: clip;"><p class="retroSignature-xl" style="font-size: 6.3rem;">Nosotros</p></div>
        <p>Somos un local familiar, amantes de la pastelería y llevamos mas de 10 años en el rubro.</p>
    </div>
</ImageGradient>

@* Cakes *@
<MudText Class="retroSignature-xl" Style="margin: 10vh auto; text-align: center;">Conocé nuestras delicias</MudText>

@* <Gallery /> *@
<Gallery>
    <MainItems>
        <GalleryItem Src="images/cheese-cake.jpeg" Title="Cheese cake" Description="Oreos, crema, dulce de leche" />
        <GalleryItem Src="images/oreo-cake.jpeg" Title="Torta Oreo" Description="Oreos, crema, dulce de leche" />
        <GalleryItem Src="images/rogel-cake.jpeg" Title="Rogel" Description="Oreos, crema, dulce de leche" />
        <GalleryItem Src="images/marquise-cake.jpg" Title="Marquise" Description="Oreos, crema, dulce de leche" />
    </MainItems>
    <MoreItems>
        <GalleryItem Src="images/carrot-cake.png" Title="Carrot Cake" Description="Oreos, crema, dulce de leche" />
        <GalleryItem Src="images/ddl-cake.png" Title="Dulce de leche" Description="Oreos, crema, dulce de leche" />
        <GalleryItem Src="images/lemon-cake.jpeg" Title="Tarta limón" Description="Oreos, crema, dulce de leche" />
        <GalleryItem Src="images/lemonslice-cake.jpeg" Title="Lemon pie" Description="Oreos, crema, dulce de leche" />
        <GalleryItem Src="images/lemonslice-cake.jpeg" Title="Lemon pie" Description="Oreos, crema, dulce de leche" />
        <GalleryItem Src="images/ricota.png" Title="Ricotta" Description="Oreos, crema, dulce de leche" />
        <GalleryItem Src="images/roll.png" Title="Rolls" Description="Canela, manzana o frutos del bosque" />
        <GalleryItem Src="images/scon-jyq.png" Title="Scon" Description="Oreos, crema, dulce de leche" />
        <GalleryItem Src="images/tartas.png" Title="Tartas" Description="Oreos, crema, dulce de leche" />
        <GalleryItem Src="images/cookies.png" Title="Masitas" Description="Oreos, crema, dulce de leche" />
    </MoreItems>
</Gallery>

@* Recommended *@
<Recommended>
    <RecomendedItem Name="Tokio" Description="Verduras grilladas, teriyaki semillas - Opción brie"/>
    <RecomendedItem Name="Mar Griego" Description="Atún, queso crema, olivas ytomate"/>
    <RecomendedItem Name="Ternerita" Description="Carne braseada y fondo"/>
    <RecomendedItem Name="Tarta" Description="Ratatouille"/>
    <RecomendedItem Name="Tarta" Description="Zapallitos"/>
</Recommended>

@* Footer *@
<ImageGradient Src="images/footer.jpeg" Height="400px" Centered GradientEnd="#0007">
    <div class="bourtonLineMedium" style="font-size: 1.5rem;">
        <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center">
            <MudStack Justify="Justify.Center" Row>
                <a href="https://www.instagram.com/esquina.canela" target="_blank">
                <img src="images/instagram-icon.svg" style="width: 60px;">
                </a>
                <a href="https://www.facebook.com/esquinacanela" target="_blank">
                    <img src="images/facebook-icon.svg" style="width: 60px;">
                </a>
            </MudStack>
            <MudElement HtmlTag="a" style="color: white;" href="mailto:info@esquinacanela.com.ar">info@esquinacanela.com.ar</MudElement>
            <span>
                <MudElement HtmlTag="a" style="color: white;" href="tel:+5447463070">(011) 4746-3070</MudElement>
                <span> | </span>
                <MudElement HtmlTag="a" style="color: white;" href="tel:+5491127039300">+5491127039300</MudElement>
            </span>
            <MudElement HtmlTag="a" style="color: white;" href="http://maps.google.com/?q=esquina canela" target="blank">
                <MudIcon Style="color: white;" Icon="@Icons.Material.Filled.LocationOn" Size="Size.Small" />
                Av. del Libertador 2701, Victoria
            </MudElement>
        </MudStack>
    </div>
</ImageGradient>