@page "/menu"

@* <MudButton 
        style="border-radius: 20px; "
        href="/"
        StartIcon="@Icons.Material.Filled.ArrowBack"
        Color="Color.Primary">
    Volver
</MudButton> *@


<div style="text-align: center;">
    <img src="menu.svg">
    <img src="menu.svg">
</div>

@code {

}
